<<<<<<< HEAD

*, :after, :before {
    padding: 0;
    marging: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
=======
*,
::before,
::after {
  padding: 0;
  marging: 0;
  box-sizing: border-box;
}
.content {
  text-align: left;
>>>>>>> 86f2b128a2c6a04c0e3b22e2a81d179f523f3f2d
}
svg {
    width: 0;
    height: 0;
}
.h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 27px;
    color: #262626
}
.describe {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    color: #262626
}
.button {
    background-color: #ff6033;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 55px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    color: #ffffff
}
/*-END_GENERAL------------------------------------*/
/*-HEADER------------------------------------*/
a {
  text-decoration: none;
}
body {
  font-family: 'Raleway', sans-serif;
}
.header {
  width: 100vw;
  height: 100vh;
  min-width: 900px;
  background: url(../img/header-bg.png) 60% 60%;
  background-size: cover;
}
.header_conteiner {
  width: 1170px;
  margin: auto;
  padding-top: 60px;
}
.header_logo {
  font: 50px/1px 'Pacifico', cursive;
  color: #262626;
  display: inline-block;
}
.nav {
  display: inline-block;
  text-align: right;
  margin-left: 220px;
  width: 70%;
}
.nav_link {
  display: inline-block;
  color: black;
  text-transform: uppercase;
  font: 700 16px/1px 'Raleway';
  margin-left: 40px;
}
.nav_link::before {
  content: "";
  display: block;
  width: 0%;
  margin-bottom: 10px;
  height: 4px;
  background-color: #ff6033;
}
.nav_link:hover:before {
  width: 100%;
}
.header_info {
  width: 370px;
  height: 165px;
  margin-top: 120px;
}
.header_title {
  font: 700 60px/60px 'Raleway', sans-serif;
}
.header_text {
  font: 300 17px/24px 'Raleway', sans-serif;
  margin-top: 30px;
}
.header_btn {
  width: 200px;
  height: 55px;
  margin-top: 35px;
}
.header_btn1 {
  width: 200px;
  height: 55px;
  background-color: #ff6033;
  font: 300 20px/1px 'Raleway';
  border: none;
  box-shadow: 0 0 2px;
}
.header_scroll {
  width: 30px;
  height: 40px;
  margin: 90px auto 50px;
}
/*-END_HEADER------------------------------------*/
/*-ABOUT_US------------------------------------*/
.about {
  height: 700px;
  color: white;
  background: #00b2b2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about_info {
  margin-left: 80px;
}
.about_title {
  font: 700 80px/95px 'Raleway';
}
.about_text {
  width: 500px;
  font: 300 17px/24px 'Raleway';
}
.about_text + .about_text {
  margin-top: 25px;
}
/*-END_ABOUT_US------------------------------------*/
/*-GALLERY-----------------------------------------*/
.button--blue {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 55px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 50px auto;
  background-color: #5585a2;
  color: #ffffff;
}
.gallery {
  width: 100%;
  background-color: #ffe92f;
  font-family: 'Raleway', sans-serif;
  color: #262626;
  padding-bottom: 70px;
}
.gallery .title {
  padding-top: 100px;
  margin-bottom: 29px;
  text-align: center;
  font-size: 90px;
  font-weight: bold;
}
.gallery .describe {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #262626;
  text-align: center;
  margin-bottom: 41px;
}
.gallery .gallery_img {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1170px;
  height: 980px;
}
.gallery .gallery_img .gallery_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gallery .gallery_img .gallery_container__main {
  height: 550px;
}
.gallery .gallery_img .gallery_container__main .gallery_item__big {
  height: 550px;
  width: 770px;
}
.gallery .gallery_img .gallery_container__small {
  margin-left: 30px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gallery .gallery_img .gallery_container__small .gallery_item__small {
  height: 260px;
  width: 370px;
}
.gallery .gallery_img .gallery_item {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.gallery .gallery_img .gallery_item:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}
.gallery .gallery_img .gallery_item__medium {
  height: 400px;
  width: 570px;
}
/*-END_GALLERY-----------------------------------------*/
/*-CONTACT-----------------------------------------*/
 .contact {
    background: url(../img/contact_bg.jpg) no-repeat;
    background-size: cover;
    min-height: 980px;
    max-width: 1500px;
    height: 865px;
    padding: 100px 165px 0
}
.content__contact {
    max-width: 370px;
    text-align: center;
    margin: 0 auto 40px
}
.h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 27px;
    color: #262626;
    text-align: left;
    margin: 0;
    padding: 0
}
.adress {
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 27px;
    color: #262626;
    text-align: left;
    margin: 0 0 15px 0;
    padding: 0
}
.contact_main {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.contact_item {
    width: 500px
}
.contact_item__adress {
    width: 317px;
    margin-right: 200px
}
.form_input {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 14px;
    background-color: rgba(0, 196, 196, 0.5);
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    color: #ffffff
}
.form_input:focus {
    background-color: #00c4c4;
    border: none;
    outline: 0
}
.form_input__message {
    height: 250px;
    padding: 0 0 210px 20px
}
::-webkit-input-placeholder {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    color: #ffffff
}
:-moz-placeholder {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    color: #ffffff
}
::-moz-placeholder {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    color: #ffffff
}
:-ms-input-placeholder {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    color: #ffffff
}
 /*-END_CONTACT-----------------------------------------*/
 /*-FOOTER-----------------------------------------*/  
.footer {
    background: #262626;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 980px;
    max-width: 1500px;
    min-height: 90px;
    padding: 0 165px;
    overflow: hidden
}
.logo {
    width: 65px;
    height: 27px;
    fill: #b9b9b9
}
.accent {
    color: #ff2b58
}
.p_footer {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    color: #b9b9b9
}
/*-END_FOOTER-----------------------------------------*/ 
